@import "functions";
@import "variables";
@import "mixins";


@include google-font("Raleway:800");
@include google-font("Rubik:400,500,700");


html {
	margin: 0;
	padding: 0;
}
body {
  margin: 0;
 } 


h1, h2, h3, h4, h5 {
	margin: 0;
}

ul {
	margin: 0;
}

li {
	list-style: none;
	text-decoration: none;
}

a {
	height: 100%;
}

header {
	width: 100%;
	height: 50px;
	background-color: $nav-background;


}

.nav-items-wrap {
	@include transition-all;
	@include medium-screen {
		opacity: 0;
	}
}

.collapsed-bars {
@include transition-all;
	color: $white;
	font-size: 22px;
	position: absolute;
	z-index: 2;
	padding: 10px 10px;
	opacity: 0;
	
	height: 50px;

	@include medium-screen {
		opacity: 1;
		&:hover {
		box-shadow: 0px 4px 10px 0px $black;
		cursor: pointer;
		}
	}
}


.logo {
@include transition-all;
}
.nav-ul-1 float-left {
	height: 100%;
	display: table;
@include transition-all;
	li {
		float: left;
	}
}
.active {
@include transition-all;
	background-color: $third;

}
.nav-item {
@include transition-all;
	font-family: 'Rubik';
	height: 100%;
    float: left;
    display: table-cell;
	color: $black;
	text-transform: uppercase;
	a {
		@include transition-all;
		text-decoration: none;
		color: $white;
		height: 100%;
		display: block;
		padding: 15px 10px;
		&:hover {
		box-shadow: 0px 4px 10px 0px ;
		}
	}
	&:hover {
		background-color: $white;
		a {
			color: $black;
		}
	}
}
.nav-ul-2 {
@include transition-all;
	float: right;
}
.nav-item2 {
@include transition-all;
	font-family: 'Rubik';
	height: 100%;
    float: right;
    display: table-cell;
	color: $black;
	text-transform: uppercase;
	a {
		@include transition-all;
		text-decoration: none;
		color: $white;
		background-color: $primary;
		height: 100%;
		display: block;
		padding: 15px 10px;
		&:hover {
			box-shadow: 0px 4px 10px 0px $black;
		}
	}
}



.row {
	margin: 0;
}



