@import "functions";
@import "variables";
@import "mixins";


@include google-font("Alegreya+Sans");
@include google-font("Titillium+Web");
@include google-font("Raleway:800");


html {
	margin: 0;
	padding: 0;
}
body {
  margin: 0;
 } 


h1, h2, h3, h4, h5 {
	margin: 0;
}

li {
	list-style: none;
	text-decoration: none;
}	

.row {
	margin: 0;
}


.section1 {
  background-color: #f747f1;
  height: 500px; 

	nav {
		.resp-menu-toggle {

	    }

	    .nav {
			display: flex;

	    	.menu-item {
			float: left;
			padding: 15px 25px;
			margin: 0px 2px;
			border: 3px solid black;

			}

		}
	}

	.content {

		.title {

		}

		.sub-title {

		}

		.buttons {

			.buttons {

			}


		}


	}

}










