@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web);
@import url(https://fonts.googleapis.com/css?family=Raleway:800);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,900);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,100);
html {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  overflow-x: hidden; }

h1, h2, h3, h4, h5 {
  margin: 0; }

li {
  list-style: none;
  text-decoration: none; }

aside {
  height: 100%;
  width: 25%;
  padding: 25px 0px;
  background-color: #080808;
  position: absolute;
  transition: all 500ms ease; }
  @media only screen and (max-width: 535px) {
    aside {
      width: 100%; } }
  aside li {
    width: 100%;
    text-align: center;
    padding: 15px 0px; }
    aside li a {
      color: white;
      font-family: 'Roboto';
      font-weight: 100;
      font-size: 30px; }

header {
  padding: 0px 20px;
  background-color: black;
  color: #fff;
  width: 100%;
  height: 80px;
  transition: all 500ms ease; }
  header .nav {
    float: right;
    padding-right: 80px;
    transition: all 500ms ease; }
    @media only screen and (max-width: 750px) {
      header .nav {
        display: none; } }
    header .nav .navli {
      float: left;
      padding: 15px 20px;
      font-family: 'Roboto';
      font-weight: 100;
      font-size: 25px; }

footer {
  margin-top: 50px;
  background-color: #0d0d0d;
  padding: 40px 100px; }
  footer ul {
    color: #1667c8; }
    footer ul li {
      list-style: none;
      margin-bottom: 15px;
      font-family: 'Roboto'; }
      footer ul li a {
        color: white;
        text-decoration: none; }
      footer ul li h5 {
        padding-left: 18px;
        margin-bottom: 15px;
        font-size: 16px; }

.titlewrap {
  margin-bottom: 50px;
  position: absolute; }

/* GRID */
#content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, minmax(30px, auto));
  grid-gap: 20px;
  margin-bottom: 60px;
  margin-top: 80px; }
  @media only screen and (max-width: 750px) {
    #content {
      grid-template-columns: repeat(2, 1fr); } }
  @media only screen and (max-width: 535px) {
    #content {
      grid-template-columns: repeat(1, 1fr); } }
  #content .c1 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 6;
    background: #3bbced;
    padding: 15px;
    text-align: center;
    min-height: 375px; }
  #content .c2 {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 10;
    background: purple; }
  #content .c3 {
    grid-column-start: 1;
    grid-column-end: 3; }
  #content .c4 {
    grid-column-start: 3;
    grid-column-end: 5; }
  #content .c5 {
    grid-column-start: 5;
    grid-column-end: 7; }
  #content .c3, #content .c4, #content .c5 {
    background: black;
    border: 9px solid black;
    border-radius: 0px;
    grid-row-start: 6;
    grid-row-end: 10;
    position: relative;
    overflow: hidden; }
    #content .c3 button, #content .c4 button, #content .c5 button {
      position: absolute;
      bottom: 20px;
      right: 33%; }
    #content .c3 h4, #content .c4 h4, #content .c5 h4 {
      margin-bottom: 10px; }

.img-sect-1 {
  width: 100%;
  margin-bottom: 10px; }

#content div {
  padding: 15px; }

#content2 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, minmax(150px, auto));
  grid-gap: 20px; }

.one {
  grid-column-start: 1;
  grid-column-end: 3;
  background: red; }

.two {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3; }

#content2 div {
  background: #ced; }

#content2 div:nth-child(even) {
  background: #777; }

/* begin classes */
.wrapper {
  width: 100%;
  background-color: white;
  margin: 0px;
  padding: 0px;
  transition: all 500ms ease; }

.row {
  margin: 0; }

.togg {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 0;
  opacity: 0;
  transition: all 500ms ease; }
  .togg .fa-chevron-right {
    cursor: pointer;
    margin-left: 0;
    opacity: 0.7;
    transition: all 500ms ease; }
    .togg .fa-chevron-right:hover {
      opacity: 1; }
  @media only screen and (max-width: 750px) {
    .togg {
      opacity: 1; } }

.underline-fx {
  transition: all 500ms ease;
  border-top: 6px solid black;
  width: 0px;
  background-color: black;
  margin-left: 25px; }

/* Transition Classes */
.left25pct {
  margin-left: 25%;
  transition: all 500ms ease; }
  @media only screen and (max-width: 535px) {
    .left25pct {
      margin-left: 100%; } }

.left-25pct {
  margin-left: -25%;
  transition: all 500ms ease; }
  @media only screen and (max-width: 535px) {
    .left-25pct {
      margin-left: -100%; } }

.rotate180 {
  transform: rotate(180deg);
  transition: all 500ms ease; }

.underline {
  padding: 1px;
  border-top: 6px solid black;
  width: 100px;
  background-color: black; }

.top-100px {
  position: absolute;
  margin-top: -200px;
  transition: all 500ms ease; }

/* Text Classes */
.title {
  margin-left: 25px;
  padding-top: 10px;
  color: black;
  font-family: "Raleway", Georgia, serif;
  font-weight: 800;
  transition: all 500ms ease; }

.feature-text {
  font-family: "Raleway", Georgia, serif;
  font-weight: 800;
  transition: all 500ms ease;
  color: black;
  margin-top: 20px;
  text-align: left; }

.article-text {
  line-height: 1.9; }

.article-text-feat {
  line-height: 2;
  margin-top: 20px;
  text-align: left;
  font-size: 18px;
  margin-bottom: 0px;
  font-family: "Alegreya Sans", Arial, sans-serif; }

/*# sourceMappingURL=main.css.map */
